### Heroes of Pymoli

#### Background
After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

#### Observations

*  Based on the Gender Demographics, 84% of the total players are male and made 652 of the purchases totaling $1,967.64, compared with the 15.97% of the female and other/non-disclosed categorized players who have only spent $412.13.

*  The Age Demographics indicate the highest paying age group are players between the ages of 20-24, spending $1,114.06 and making up 44.79% of the total group of players.

*  For both the most popular and profitable items Final Critic and Oathbreaker, Last Hope of the Breaking Storm are the top sellers.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data_file = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
df_orig = pd.read_csv(data_file)
# Make a copy from original data file
df_purchase_data = df_orig.copy()

## Player Count

* Display the total number of players

In [2]:
# Use groupby and unique count to identify each Screenname by the Purchase ID number
player_grp = df_purchase_data.groupby(['SN'])
total_player = len(player_grp['Purchase ID'].unique())

# Create a dataframe summary for Total Player Count
df_summary_total_player = (pd.DataFrame({"Total Player":[total_player]}))

df_summary_total_player

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Use value counts to find total of unique items
num_unique_items = df_purchase_data['Item ID'].value_counts()
total_unique = num_unique_items.count()

# Find mean, total purchases, and total revenue
average_price = df_purchase_data['Price'].mean()
average_price = '${0:,.2f}'.format(average_price)

total_purchases = df_purchase_data['Purchase ID'].count()

total_rev = df_purchase_data['Price'].sum()
total_rev = '${0:,.2f}'.format(total_rev)

# Create purchase analysis dataframe summary
df_summary_purch_analysis = pd.DataFrame({"Number of Unique Items": [total_unique],
                              "Average Price": [average_price],
                              "Number of Purchases": [total_purchases],
                              "Total Revenue": [total_rev]})

df_summary_purch_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Use groupby to calculate the total and percentage of the unique players by Gender
gender_grp = df_purchase_data.groupby(['Gender'])

male_grp = gender_grp.get_group('Male')
total_male = len(male_grp['SN'].unique())
pct_male = (total_male/total_player)

female_grp = gender_grp.get_group('Female')
total_female = len(female_grp['SN'].unique())
pct_female = (total_female/total_player)

other_grp = gender_grp.get_group('Other / Non-Disclosed')
total_other = len(other_grp['SN'].unique())
pct_other = (total_other/total_player)

# Create a dataframe summary table for Gender Demographics
df_gender_demo= pd.DataFrame({"Gender": ['Male', 'Female', 'Other / Non-Disclosed'], 
                              "Total Count": [total_male, total_female, total_other],
                              "Percentage of Players": [pct_male, pct_female, pct_other]})
df_gender_demo['Percentage of Players'] = df_gender_demo['Percentage of Players'].map("{:.2%}".format)

df_summary_gender_demo = df_gender_demo.set_index('Gender')
df_summary_gender_demo

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Use groupby with Price and apply aggregate functions for count, mean, and sum.
# Relabel the columns
purch_by_gender = gender_grp['Price'].agg(['count', 'mean', 'sum'])
purch_by_gender = purch_by_gender.rename(columns={'count': "Purchase Count", 
                                                     'mean': "Average Purchase Price",
                                                     'sum': "Total Purchase Value"})

# Calculate Average Purchase Price per Person, using groupby, and create second dataframe to concatenate
avg_purch_f = gender_grp['Price'].get_group('Female').sum()
female_avg_purch = (avg_purch_f/total_female)
female_avg_purch = '${0:,.2f}'.format(female_avg_purch)

avg_purch_m = gender_grp['Price'].get_group('Male').sum()
male_avg_purch = (avg_purch_m/total_male)
male_avg_purch = '${0:,.2f}'.format(male_avg_purch)

avg_purch_o = gender_grp['Price'].get_group('Other / Non-Disclosed').sum()
other_avg_purch = (avg_purch_o/total_other)
other_avg_purch = '${0:,.2f}'.format(other_avg_purch)


df_avg_purch_by_gender= pd.DataFrame({"Gender": ['Female', 'Male', 'Other / Non-Disclosed'], 
                                   "Average Total Purchase per Person": 
                                   [female_avg_purch, male_avg_purch, other_avg_purch]})
df_avg_purch_by_gender = df_avg_purch_by_gender.set_index('Gender')

df_summary_gen_purch_analysis = pd.concat([purch_by_gender, df_avg_purch_by_gender], 
                                    axis=1).reindex(purch_by_gender.index)
df_summary_gen_purch_analysis['Average Purchase Price'] = df_summary_gen_purch_analysis['Average Purchase Price'].map("${0:,.2f}".format)
df_summary_gen_purch_analysis['Total Purchase Value'] = df_summary_gen_purch_analysis['Total Purchase Value'].map("${0:,.2f}".format)
# Style format columns

df_summary_gen_purch_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins with age ranges and the labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', 
              '30-34', '35-39', '40+']
# Use cut to add "Age Group" column to calculate count and percentage of unique players by age 
df_purchase_data["Age Group"] = pd.cut(df_purchase_data['Age'],
                                      age_bins, labels = age_labels)
age_grp = df_purchase_data.groupby('Age Group')

total_age_count = age_grp['SN'].nunique()
pct_age_count = (total_age_count/total_player)

# Create a dataframe for the age demographic summary
df_summary_age_demo = pd.DataFrame({"Total Count": total_age_count, 
                         "Percentage of Players": pct_age_count})

df_summary_age_demo['Percentage of Players'] = df_summary_age_demo['Percentage of Players'].map("{:.2%}".format)
df_summary_age_demo.index.name = None

df_summary_age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Use groupby on Price to apply aggregate functions for the calculations
purch_by_age = age_grp['Price'].agg(['count', 'mean', 'sum'])
df_purch_by_age = purch_by_age.rename(columns={'count': "Purchase Count", 
                                                     'mean': "Average Purchase Price",
                                                     'sum': "Total Purchase Value"})

# Create an additional variable to concatenate for dataframe summary table
avg_purch_person = (age_grp['Price'].sum()/total_age_count)

age_purchase = pd.concat([df_purch_by_age, avg_purch_person], axis=1)
df_summary_age_purch_analysis = age_purchase.rename(columns={0: "Average Total Purchase per Person"})

# Set number format for currency
df_summary_age_purch_analysis['Average Total Purchase per Person'] = df_summary_age_purch_analysis['Average Total Purchase per Person'].map("${0:,.2f}".format)
df_summary_age_purch_analysis['Average Purchase Price'] = df_summary_age_purch_analysis['Average Purchase Price'].map("${0:,.2f}".format)
df_summary_age_purch_analysis['Total Purchase Value'] = df_summary_age_purch_analysis['Total Purchase Value'].map("${0:,.2f}".format)

df_summary_age_purch_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Use groupby to calculate the aggregate functions for Top Spenders
top_grp = player_grp['Price'].agg(['mean', 'sum'])
purch_count = player_grp['Purchase ID'].count()

# Use merge to create summary for top spenders, and sort in descending order
top_spenders = pd.merge(purch_count, top_grp, on='SN')
top_spenders_1 = top_spenders.rename(columns={'mean': 'Average Purchase Price',
                                                     'sum': 'Total Purchase Value'})
df_summary_top_spenders = top_spenders_1.sort_values(by=['Total Purchase Value'], ascending=False)

# Format numbers to currency
df_summary_top_spenders['Average Purchase Price'] = df_summary_top_spenders['Average Purchase Price'].map("${0:,.2f}".format)
df_summary_top_spenders['Total Purchase Value'] = df_summary_top_spenders['Total Purchase Value'].map("${0:,.2f}".format)


df_summary_top_spenders

             Purchase ID Average Purchase Price Total Purchase Value
SN
Lisosia93              5                  $3.79               $18.96
Idastidru52            4                  $3.86               $15.45
Chamjask73             3                  $4.61               $13.83
Iral74                 4                  $3.40               $13.62
Iskadarya95            3                  $4.37               $13.10
...                  ...                    ...                  ...
Ililsasya43            1                  $1.02                $1.02
Irilis75               1                  $1.02                $1.02
Aidai61                1                  $1.01                $1.01
Chanirra79             1                  $1.01                $1.01
Alo38                  1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Use groupby to collect and make calculations based on Price
items = df_purchase_data[['Item ID', 'Item Name', 'Price']]
item_grp = items.groupby(['Item ID', 'Item Name'])

purch_count = item_grp['Item ID'].count()

total_purch = item_grp['Price'].sum()

item_price = (total_purch / purch_count)

# Create a dataframe for the most popular items, and sort in descending order
df_most_popular = pd.DataFrame({"Purchase Count": purch_count,
                                "Item Price": item_price,
                               "Total Purchase Value": total_purch})
df_summary_most_popular = df_most_popular.sort_values(by=['Purchase Count'], ascending=False)

# Format numbers to currency
df_summary_most_popular['Item Price'] = df_summary_most_popular['Item Price'].map("${0:,.2f}".format)
df_summary_most_popular['Total Purchase Value'] = df_summary_most_popular['Total Purchase Value'].map("${0:,.2f}".format)

df_summary_most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Create a dataframe with descending sorting
df_summary_most_profitable = df_most_popular.sort_values(by=['Total Purchase Value'], ascending=False)

# Format numbers to currency
df_summary_most_profitable['Item Price'] = df_summary_most_profitable['Item Price'].map("${0:,.2f}".format)
df_summary_most_profitable['Total Purchase Value'] = df_summary_most_profitable['Total Purchase Value'].map("${0:,.2f}".format)

df_summary_most_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75