### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_orig = pd.read_csv(data_file)
# Make a copy from original data file
df_purchase_data = df_orig.copy()
df_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Use groupby and unique count to identify each Screenname by the Purchase ID number
# Create a dataframe summary for Total Player Count
player_grp = df_purchase_data.groupby(['SN'])

total_player = len(player_grp['Purchase ID'].unique())
df_total_player = (pd.DataFrame({"Total Player":[total_player]}))
df_total_player

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Use value counts to find total of unique items
num_unique_items = df_purchase_data['Item ID'].value_counts()
total_unique = num_unique_items.count()

In [4]:
# Find the mean of the average price
average_price = df_purchase_data['Price'].mean()

In [5]:
# Find total purchases
total_purchases = df_purchase_data['Purchase ID'].count()

In [6]:
# Find total revenue using sum
total_rev = df_purchase_data['Price'].sum()

In [7]:
# Create purchase analysis dataframe summary
purch_analysis = pd.DataFrame({'Number of Unique Items': [total_unique],
                              'Average Price': [average_price],
                              'Number of Purchases': [total_purchases],
                              'Total Revenue': [total_rev]})
purch_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_grp = df_purchase_data.groupby(['Gender'])

male_grp = gender_grp.get_group('Male')
total_male = len(male_grp['SN'].unique())
pct_male = (total_male/total_player)*100

female_grp = gender_grp.get_group('Female')
total_female = len(female_grp['SN'].unique())
pct_female = (total_female/total_player)*100

other_grp = gender_grp.get_group('Other / Non-Disclosed')
total_other = len(other_grp['SN'].unique())
pct_other = (total_other/total_player)*100

In [9]:
gender_demo= pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 'Total Count': [total_male, total_female, 
                           total_other], 'Percentage of Players': [pct_male, pct_female, pct_other]})
gender_demo = gender_demo.set_index('Gender')
gender_demo

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purch_by_gender = gender_grp['Price'].agg(['count', 'mean', 'sum'])
df_purch_by_gender = purch_by_gender.rename(columns={'count': 'Purchase Count', 
                                                     'mean': 'Average Purchase Price',
                                                     'sum': 'Total Purchase Value'})

# Average Purchase Price per Person = total purch value / total player count
avg_purch_f = gender_grp['Price'].get_group('Female').sum()
female_avg_purch= (avg_purch_f/total_female)

avg_purch_m = gender_grp['Price'].get_group('Male').sum()
male_avg_purch= (avg_purch_m/total_male)

avg_purch_o = gender_grp['Price'].get_group('Other / Non-Disclosed').sum()
other_avg_purch= (avg_purch_o/total_other)

In [11]:
avg_purch_by_gender= pd.DataFrame({'Gender': ['Female', 'Male', 'Other / Non-Disclosed'], 
                                   'Average Total Purchase per Person': 
                                   [female_avg_purch, male_avg_purch, other_avg_purch]})
df_avg_purch_by_gender = avg_purch_by_gender.set_index('Gender')
summary_gender_purchase = pd.concat([df_purch_by_gender, 
                                     df_avg_purch_by_gender], axis=1).reindex(df_purch_by_gender.index)
summary_gender_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Create bins with age ranges and the labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', 
              '30-34', '35-39', '40+']
# Use the cut method...
df_purchase_data["Age Group"] = pd.cut(df_purchase_data['Age'],
                                      age_bins, labels = age_labels)
age_grp = df_purchase_data.groupby('Age Group')

In [16]:
total_age_count = age_grp['SN'].nunique()

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [21]:
pct_age_count = (total_age_count/total_player)*100
pct_age_count

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [25]:
age_demo = pd.DataFrame({"Total Count": total_age_count, 
                         "Percentage of Players": pct_age_count})
age_demo.index.name = None
age_demo

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
df_purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [33]:
purch_by_age = age_grp['Price'].agg(['count', 'mean', 'sum'])
df_purch_by_age = purch_by_age.rename(columns={'count': 'Purchase Count', 
                                                     'mean': 'Average Purchase Price',
                                                     'sum': 'Total Purchase Value'})

# Average Purchase Price per Person = total purch value / total player count
#total_purch_value = age_grp['Price'].sum()
avg_purch_person = (age_grp['Price'].sum()/total_age_count)
avg_purch_person

summary_age_purchase = pd.concat([df_purch_by_age, avg_purch_person], axis=1)
summary_age_purchase

       Purchase Count  Average Purchase Price  Total Purchase Value         0
<10                23                3.353478                 77.13  4.537059
10-14              28                2.956429                 82.78  3.762727
15-19             136                3.035956                412.89  3.858785
20-24             365                3.052219               1114.06  4.318062
25-29             101                2.900990                293.00  3.805195
30-34              73                2.931507                214.00  4.115385
35-39              41                3.601707                147.67  4.763548
40+                13                2.941538                 38.24  3.186667

In [ ]:
avg_purch_by_age= pd.DataFrame({'Gender': ['Female', 'Male', 'Other / Non-Disclosed'], 
                                   'Average Total Purchase per Person': 
                                   [female_avg_purch, male_avg_purch, other_avg_purch]})
df_avg_purch_by_gender = avg_purch_by_gender.set_index('Gender')
summary_gender_purchase = pd.concat([df_purch_by_gender, 
                                     df_avg_purch_by_gender], axis=1).reindex(df_purch_by_gender.index)
summary_gender_purchase

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame